body{
    text-align: center;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
/* sections */
.white-section{
    background-color: #fff;
}
.coloured-section{
    background-color: #ff4c68;
    color:#fff; 
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    
}
p{
    color:grey; 
}

/* headings */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color:white;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/*------Navbar styling starts------*/
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 1.2rem;
}

/*Download buttons*/
.download-button{
    margin:5% 3% 5% 0;
}

/*title image*/
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    
}
#features{
    padding: 7% 15%;
    align-items: center;
    position: relative;
    
    
}
.feature-box{
    padding: 5%;
    font-family: 'Montserrat';
}
.feature-title{
    color:black;
    line-height: 1.5;
}
.icon{
    color: #f3556d;
    
    padding-bottom: 10px;
}
.icon:hover{
    color: red;
}


/*----testimonials----*/
#testimonials{
    background-color: #f19aa7;
    
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#press{
    background-color: #f19aa7;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

/* Pricing section */

#pricing{
    padding:100px;
} 
.pricing-column{
    padding: 5% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* call to action */

#cta{
    
   
    padding: 7% 15%;
    
}

/* footer */

#footer{
    padding: 7% 15%;
    
}
.social-icon {
    margin: 20px 10px;
    color: black;
}

@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
    h3{
        font-size: 2.5rem; 
    }
    h2{
        font-size: 2.5rem; 
    }
}

